concurrency: {{ config_concurrency }}
iterations: {{ config_iterations }}
delay: 4
timelimit: 3000
continue_on_errors: true

connections:
  operation_timeout_ms: 3000
  connection_timeout_ms: 40000

  {%- for k in range(num_connections) %}
  connection:
    sessions: 1
    host: "localhost:{{ keeper_ports[k] }}"
  {% endfor %}

generator:
  # start of setup
  setup:
    node:
      name: "test1"
    node:
      name: "test2"
    node:
      name: "test3"
    node:
      name: "test"
      data: "somedata"
      node:
        repeat: 10
        name:
          random_string:
            size: 15
        data:
          random_string:
            size:
              min_value: 10
              max_value: 20
      node:
        repeat: 10
        node:
          repeat: 10
          name:
            random_string:
              size: 15
        name:
          random_string:
            size: 15
        data:
          random_string:
            size:
              min_value: 10
              max_value: 20
  # end of setup
  requests:
    list:
      weight: 20
      repeat: 10
      path:
        - "/test1"
        - "/test2"
      path:
        children_of: "/test"
    create:
      weight: 2
      repeat: 10
      path: "/test1"
      name_length: 10
      remove_factor: 0.8
    set:
      weight: 2
      repeat: 10
      path:
        - "/test1"
        - "/test2"
      path:
        children_of: "/test"
      data:
        random_string:
          size: 10
    multi:
      weight: 75
      get:
        repeat: 10
        path:
          - "/test1"
          - "/test2"
        path:
          children_of: "/test"
output:
  stdout: true
