<clickhouse replace="true">
    <logger>
        <level>trace</level>
        <log>/var/log/clickhouse-server/clickhouse-server.log</log>
        <errorlog>/var/log/clickhouse-server/clickhouse-server.err.log</errorlog>
        <size>1000M</size>
        <count>3</count>
    </logger>
    <display_name>ch_openldap</display_name>
    <listen_host>0.0.0.0</listen_host>
    <http_port>8123</http_port>
    <tcp_port>9000</tcp_port>
    <ldap_servers>
        <openldap>
            <host>openldap</host>
            <port>389</port>
            <bind_dn>cn={user_name},ou=Users,dc=clickhouse,dc=test</bind_dn>
            <user_dn_detection>
                <base_dn>ou=Users,dc=clickhouse,dc=test</base_dn>
                <search_filter>(&amp;(objectClass=inetOrgPerson)(cn={user_name}))</search_filter>
            </user_dn_detection>
            <verification_cooldown>300</verification_cooldown>
            <enable_tls>no</enable_tls>
        </openldap>
    </ldap_servers>
    <user_directories>
        <ldap>
            <server>openldap</server>
            <role_mapping>
                <base_dn>ou=Groups,dc=clickhouse,dc=test</base_dn>
                <attribute>cn</attribute>
                <scope>subtree</scope>
                <search_filter>(&amp;(objectClass=groupOfUniqueNames)(uniqueMember={user_dn}))</search_filter>
                <prefix>clickhouse_</prefix>
            </role_mapping>
        </ldap>
    </user_directories>
</clickhouse>
