/* .copilotKitSidebar {
  background-color: #282828;
} */

.copilotKitWindow {
  background-color: #282828;
}

.copilotKitMessages {
  background-color: #282828;
}

.copilotKitInputContainer {
  background-color: #282828;
  padding-bottom: 10px;


}

.copilotKitInput {
  background-color: #282828;
  color: #FFF;
  font-family: var(--font-inter);
  font-size: 16px;
  font-style: normal;
  line-height: 150%;
  height: 82px;
  border: 1px solid #3C3C3C;
  border-radius: 4px;

}

.copilotKitInput > textarea {
  color: #FFF;
  font-family: var(--font-inter);
  font-size: 16px;
  font-style: normal;
  line-height: 150%;
  max-height: 60px !important;
}


.copilotKitInputControls {
  color: #FFF;
}

.copilotKitMessage.copilotKitAssistantMessage {
  color: #FFF;
  font-family: var(--font-inter);
  font-size: 16px;
  font-style: normal;
  line-height: 150%;
  margin-bottom: 20px;
}

.copilotKitMessage.copilotKitUserMessage {
  border-radius: 8px;
  background: #FAFF69;
  color: #1F1F1C;
  font-family: var(--font-inter);
  font-size: 16px;
  font-style: normal;
  line-height: 150%;
  padding: 16px;



}

.copilotKitMessagesFooter {
  color: white;
  
}

.copilotKitMessageControls {
  padding: 16px;

}

.copilotKitMessageControlButton {

  color: #FFF;
}

.copilotKitActivityDot{
  background-color: white;
  color: white;
}

.poweredBy {
  background-color: #282828;
}
