version: "3.9"

services:
{%- for k in range(keeper_hostnames | length) %} 
  {{ keeper_hostnames[k] }}:
    restart: unless-stopped
    image: clickhouse/clickhouse-keeper:{{ keeper_versions[k] }}
    labels:
      - "type=keeper_bench_suite"
    cpus: {{ keeper_cpus[k] }}
    mem_limit: {{ keeper_memorys[k] }}
    ulimits:
      nproc: 65535
      nofile:
        soft: 262144
        hard: 262144
    container_name: {{ keeper_hostnames[k] }}
    hostname: {{ keeper_hostnames[k] }}
    ports:
      - {{ keeper_prometheus_ports_external[k] }}:9363
      - {{ keeper_ports_external[k] }}:9181
    environment:
      - MALLOC_CONF=background_thread:true,dirty_decay_ms:1000,muzzy_decay_ms:1000
    volumes:
      - type: volume
        source: {{ keeper_hostnames[k] }}-config
        target: /var/lib/clickhouse
      - "./configs/{{ keeper_hostnames[k] }}/keeper_config.xml:/etc/clickhouse-keeper/keeper_config.xml"
{% endfor %}

  cadvisor: 
    image: gcr.io/cadvisor/cadvisor # gcr.io/cadvisor/cadvisor-arm64:0.99-porterdavid OR gcr.io/cadvisor/cadvisor
    labels:
      - "type=keeper_bench_suite"
    container_name: cadvisor
    privileged: true
    ports: 
      - 8081:8080 
    volumes: 
      - /:/rootfs:ro 
      - /var/run:/var/run:rw 
      - /sys:/sys:ro 
      - /var/lib/docker/:/var/lib/docker:ro 
      - /dev/disk/:/dev/disk:ro
    depends_on: 
      - redis 
  
  redis: 
    image: redis:latest 
    labels:
      - "type=keeper_bench_suite"
    container_name: redis 
    ports: 
      - 6379:6379 

volumes:
{% for keeper_hostname in keeper_hostnames %}  {{ keeper_hostname }}-config:
    labels:
      - "type=keeper_bench_suite"
{% endfor %}