version: "3.9"

services:
{%- for k in range(keeper_hostnames | length) %} 
  {{ keeper_hostnames[k] }}:
    restart: unless-stopped
    image: zookeeper:{{ keeper_versions[k] }}
    labels:
      - "type=keeper_bench_suite"
    cpus: {{ keeper_cpus[k] }}
    mem_limit: {{ keeper_memorys[k] }}
    ulimits:
      nproc: 65535
      nofile:
        soft: 262144
        hard: 262144
    container_name: {{ keeper_hostnames[k] }}
    hostname: {{ keeper_hostnames[k] }}
    ports:
      - {{ keeper_prometheus_ports_external[k] }}:7000
      - {{ keeper_ports_external[k] }}:2181
    environment:
      ZOO_MY_ID: {{ k + 1 }}
      ZOO_SERVERS: "{% for k in range(keeper_hostnames | length) %}server.{{ k + 1 }}={{ keeper_hostnames[k] }}:2888:3888;2181 {% endfor %}"
      ZOO_4LW_COMMANDS_WHITELIST: "*"
      ZOO_CFG_EXTRA: "metricsProvider.className=org.apache.zookeeper.metrics.prometheus.PrometheusMetricsProvider log4j.rootLogger=INFO,CONSOLE,ROLLINGFILE"
      JVMFLAGS: "-Xmx{{ keeper_jvm_memorys[k] }} -Xms{{ keeper_jvm_memorys[k] }} -XX:+AlwaysPreTouch -XX:MaxGCPauseMillis=50"
{% endfor %}

  cadvisor: 
    image: gcr.io/cadvisor/cadvisor # gcr.io/cadvisor/cadvisor-arm64:0.99-porterdavid OR gcr.io/cadvisor/cadvisor
    labels:
      - "type=keeper_bench_suite"
    container_name: cadvisor
    privileged: true
    ports: 
      - 8081:8080 
    volumes: 
      - /:/rootfs:ro 
      - /var/run:/var/run:rw 
      - /sys:/sys:ro 
      - /var/lib/docker/:/var/lib/docker:ro 
      - /dev/disk/:/dev/disk:ro
    depends_on: 
      - redis 
  
  redis: 
    image: redis:latest 
    labels:
      - "type=keeper_bench_suite"
    container_name: redis 
    ports: 
      - 6379:6379 

