<clickhouse>
    <logger>
        <level>debug</level>
        <log>/var/log/clickhouse-server/clickhouse-server.log</log>
        <errorlog>/var/log/clickhouse-server/clickhouse-server.err.log</errorlog>
        <size>1000M</size>
        <count>3</count>
    </logger>
    <display_name>ch_openldap</display_name>
    <listen_host>0.0.0.0</listen_host>
    <http_port>8123</http_port>
    <tcp_port>9000</tcp_port>
    <user_directories>
        <users_xml>
            <path>users.xml</path>
        </users_xml>
        <local_directory>
            <path>/var/lib/clickhouse/access/</path>
        </local_directory>
    </user_directories>
    <ldap_servers>
        <openldap>
            <host>openldap</host>
            <roles>
                <my_local_role1 />
                <my_local_role2 />
            </roles>
            <port>389</port>
            <bind_dn>uid={user_name},ou=users,dc=clickhouse,dc=test</bind_dn>
            <user_dn_detection>
                <base_dn>CN=users,DC=clickhouse,DC=test</base_dn>
                <search_filter>(objectClass=inetOrgPerson)</search_filter>
            </user_dn_detection>
            <verification_cooldown>300</verification_cooldown>
            <enable_tls>no</enable_tls>
        </openldap>
        <openldap_roles>
            <host>openldap</host>
            <role_mapping>
                <base_dn>CN=users,DC=clickhouse,DC=test</base_dn>
                <attribute>CN</attribute>
                <scope>subtree</scope>
                <search_filter>(&amp;(objectClass=organizationalUnit)(uniqueMember={user_dn}))</search_filter>
                <prefix>clickhouse_</prefix>
            </role_mapping>
            <port>389</port>
            <bind_dn>uid={user_name},ou=users,dc=example,dc=com</bind_dn>
            <user_dn_detection>
                <base_dn>CN=users,DC=example,DC=com</base_dn>
                <search_filter>(&amp;(objectClass=user)(cn={user_name}))</search_filter>
            </user_dn_detection>
            <verification_cooldown>300</verification_cooldown>
            <enable_tls>no</enable_tls>
        </openldap_roles>
    </ldap_servers>
</clickhouse>