<clickhouse>
    <database_atomic_delay_before_drop_table_sec>10</database_atomic_delay_before_drop_table_sec>
    <merge_tree>
        <initialization_retry_period>10</initialization_retry_period>
    </merge_tree>
    <remote_servers>
        <cluster_1S>
            <shard>
                <internal_replication>true</internal_replication>
                <replica>
                    <host>clickhouse-01</host>
                    <port>9000</port>
                </replica>
                <replica>
                    <host>clickhouse-02</host>
                    <port>9000</port>
                </replica>
            </shard>
        </cluster_1S>
    </remote_servers>
    <macros>
        <shard>01</shard>
        <replica>02</replica>
        <cluster>cluster_1S</cluster>
    </macros>
    <zookeeper>
        <node>
            <host>clickhouse-keeper-01</host>
            <port>9181</port>
        </node>
        <node>
            <host>clickhouse-keeper-02</host>
            <port>9181</port>
        </node>
        <node>
            <host>clickhouse-keeper-03</host>
            <port>9181</port>
        </node>
    </zookeeper>
</clickhouse>
