PGHOST=YOUR_MANAGED_POSTGRES_HOST
PGPORT=5432
PGDATABASE=postgres
PGUSER=calendar_app
PGPASSWORD=YOUR_CALENDAR_APP_PASSWORD
PGSSLROOTCERT=/absolute/path/to/ca.pem
APP_SECRET=YOUR_RANDOM_APPLICATION_SECRET
MEMBER_001_TOKEN=YOUR_64_HEX_CHARACTER_TOKEN
MEMBER_002_TOKEN=YOUR_DISTINCT_64_HEX_CHARACTER_TOKEN
