asgiref==3.12.1
certifi==2026.7.22
charset-normalizer==3.5.2
Django==5.2.17
greenlet==3.5.6
gunicorn==23.0.0
idna==3.20
packaging==26.3
playwright==1.56.0
psycopg==3.3.6
psycopg-binary==3.3.6
pyee==13.0.1
requests==2.32.5
sqlparse==0.6.0
typing_extensions==4.16.0
urllib3==2.8.0
