<clickhouse>
    <zookeeper>
        {%- for n in range(keeper_count) %}
        <node index="{{ n+1 }}">
            <host>{{ keeper_hostnames[n] }}</host>
            <port>{{ keeper_port }}</port>
        </node>
        {%- endfor %}
    </zookeeper>
</clickhouse>
