<clickhouse>
    <keeper_server>
        <tcp_port>9181</tcp_port>
        <server_id>{{ keeper_server_id }}</server_id>
        <log_storage_path>/var/lib/clickhouse/coordination/log</log_storage_path>
        <snapshot_storage_path>/var/lib/clickhouse/coordination/snapshots</snapshot_storage_path>

        <coordination_settings>
            <operation_timeout_ms>10000</operation_timeout_ms>
            <session_timeout_ms>30000</session_timeout_ms>
            <raft_logs_level>warning</raft_logs_level>
        </coordination_settings>

        <raft_configuration>
        {%- for n in range(keeper_hostnames|length) %}
            <server>
                <id>{{ n+1 }}</id>
                <hostname>{{ keeper_hostnames[n] }}</hostname>
                <port>{{ keeper_raft_port }}</port>
            </server>
        {%- endfor %}
        </raft_configuration>
    </keeper_server>
</clickhouse>
